/* 
    Created on : Nov 30, 2016, 6:00:57 PM
    Author     : Melcher
*/
.modal-open[style] {		
	padding-right: 0px !important;		
}	

.clickable-row {
	cursor: pointer;
}

.iban-link {
	cursor: pointer;
}

td a {
	text-decoration: none !important;
}


.huge { 
	font-size: 40px; 
}
.huge > small {
	font-size: 18px;
}

/* Element hidden by default */
.hidden-default {
	display: none;
}


/* Additional non-bootstrap panel colors */
.panel-grey {
  border-color: #dedede;
}
.panel-grey > .panel-heading {
  border-color: #dedede;
  background-color: #dedede;
}
.panel-grey > a {
  color: #888888;
}
.panel-grey > a:hover {
  color: #9e9d9d;
}

.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.panel-purple {
  border-color: #6a0b94;
}
.panel-purple > .panel-heading {
  border-color: #6a0b94;
  color: white;
  background-color: #6a0b94;
}
.panel-purple > a {
  color: #6a0b94;
}
.panel-purple > a:hover {
  color: #a430d8;
}

.button-float-container {
	position: relative;
}

.button-float-container > a {
	position: absolute;
	right: 0px;
	z-index: 3;
}

.dropdown-menu.notification-menu {
	left: auto !important;
	right: 0 !important;
	min-width: 360px;
}

.dropdown-menu.notification-menu > li > a {
	white-space: normal !important;
}

/*
	Make the footer stay at the bottom of the page
*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body > .container {
	min-height: calc(100% - 60px); /* Give space for navbar */
	position: relative;
	top: 60px;
	padding-bottom: 118px; /* Give space for footer */
}
footer {
	position: absolute;
	bottom: 0;
	height: 118px;
	width: 100%;
}
@media (max-width: 767px) {
	/* Increase footer space on mobile */
	body > .container {
		padding-bottom: 150px;
	}
	footer {
		height: 150px;
	}
}

/*	Define some SVG filters.
	SVG must be black, else prepend brightness(0) saturate(100%) to filter property.
	https://codepen.io/sosuke/pen/Pjoqqp
 */
.filter-white {
	filter: invert(100%);
}
.filter-rsk-orange {
	filter: invert(47%) sepia(90%) saturate(2492%) hue-rotate(1deg) brightness(104%) contrast(105%);
}
.filter-text-color {
	filter: invert(22%) sepia(23%) saturate(667%) hue-rotate(169deg) brightness(97%) contrast(98%);
}
.filter-link-color {
	filter: invert(66%) sepia(17%) saturate(4893%) hue-rotate(122deg) brightness(91%) contrast(81%);
}

/* Enable link color on recolored SVG images */

a:hover img[class*="filter-"] {
	filter: invert(66%) sepia(17%) saturate(4893%) hue-rotate(122deg) brightness(91%) contrast(81%);
}

/* Make navbar cut off overflow */
.navbar {
	overflow: hidden;
}